.box-tinhlaivay {
        display: flex;
    border-radius: 2px;
    border: 4px solid #f4f4f4;
    max-width: 1240px;
    margin: 0 auto;
}
.box-tinhlaivay input:focus{
    outline: none;
}
.box-tinhlaivay :before, .box-tinhlaivay :after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.box-tinhlaivay .col-cot {
    padding: 30px;
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.box-right {
    background: #f3f4f7;
}

.box-left .item-thamso {
    width: 100%;
    margin: 15px 0 10px 0;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.item-thamso.anhang{
margin-top: 15px;
}

.item-thamso {
    margin-right: -15px;
    margin-left: -15px;
}

.item-thamso:before {
    display:.tablelai;
    content: " ";
}

.label-title {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.box-left .item-thamso .label-title {
    display: block;
    width: 100%;
    font-size: 14px;
    color: rgba(68,76,89,.7);
}

.item-thamso:after {
    clear: both;
}

.box-left .item-thamso .calc-wrapper {
    display: flex;
    flex-flow: item-thamso nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.slider-container {
    width: 100%;
    height: 35px;
}

.box-left .item-thamso .calc-wrapper .range-vung {
    display: block;
    width: calc(100% - 120px);
    float: left;
}

.box-left .item-thamso .calc-wrapper .group-nhaplieu {
    display: block;
    width: 110px;
    height: 36px;
    margin-left: 20px;
  position: relative;
    float: left;
    border-radius: 2px;
    border: 1px solid rgba(131,131,131,.3);
  top: 14px;
  overflow: hidden;
}


.box-left .item-thamso .calc-wrapper .group-nhaplieu .calc-input {
    position: relative;
  width: 75px;
    display: block;
    visibility: visible;
    border: 0;
    outline: 0;
    font-size: 14px;
    padding: 10px;
}

.group-nhaplieu .unit {
    position: absolute;
    right: 6px;
    top: 0;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    color: #838790;
    width: auto;
}

.box-left .item-thamso .option-group {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
}
.box-left .item-thamso .option {
    width: 50%;
    margin-right: 15px;
}

.box-left .item-thamso .option input[type=radio] {
    width: 14px;
    height: 14px;
    float: left;
    display: block;
    visibility: visible;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: 0 0;
}


.box-left .item-thamso .option input[type=radio]:before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background: #fff;
    border: 2px solid #444c59;
    border-radius: 50%;
    box-sizing: border-box;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.box-left .item-thamso .option input[type=radio]:after {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
}
.box-left .item-thamso .option input[type=radio]:checked:after {
    background: #444c59;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

.box-left .item-thamso .option label-title {
        display: block;
    width: calc(100% - 14px);
    line-height: 1.3;
    font-size: 14px;
    color: #444c59;
    margin-left: 17px;
    position: relative;
    top: 3px;
}

.btn-like a, .btn-primary {
    text-align: center;
    width: 100%;
}

.btn-primary {
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    font-size: 16px;
    min-width: fit-content;
    min-width: -moz-min-content;
    max-width: -moz-max-content;
    padding: 0 20px;
    white-space: nowrap;
}

.btn-black-outline {
    color: #30333a;
    background: 0 0;
    border: 1px solid rgba(48,51,58,.314);
}

.btn-medium {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

.box-left .item-thamso .btn-primary {
    margin: 0;
    max-width: 100%;
}

.btn-black-outline:hover {
    color: #fff;
    background: #30333a;
}

.box-right h2 {
    font-size: 20px;
    font-weight: 500;
    color: #30333a;
    margin-bottom: 20px;
    display: block;
}

.box-right .chart-box {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid rgba(48,51,58,.2);
}

.hinhavatar1 {
    width: 30%;
    text-align: center;
}

.hinhavatar {
    max-width: 100%;
    height: auto;
    width: 130px;
}

.box-right .chart-box .chart-description {
    position: relative;
    justify-content: space-between;
    width: 70%;
    padding-left: 30px;
}

.box-right .chart-box .chart-description .chart-legend {
    display: block;
    margin-bottom: 15px;
}


.box-right .chart-box .chart-description .chart-legend .label-title {
    font-size: 14px;
    color: rgba(68,76,89,.7);
    height: 14px;
    line-height: 14px;
    text-align: left;
}


.box-right .chart-box .chart-description .chart-legend .value {
    font-size: 14px;
    font-weight: 600;
    display: inline;
}

.box-right .chart-box .chart-description .chart-legend .value.color1 {
    color: #6975c8;
    text-align: center;
}

.box-right .chart-box .chart-description .chart-legend .value.color2 {
    color: #4ab5c1;
    text-align: center;
}

.box-right .chart-box .chart-description .chart-legend .value.color3 {
    color: #ce68a5;
    text-align: center;
}

.h3center {
    font-size: 20px;
    font-weight: 500;
    color: #30333a;
    margin-bottom: 20px;
    display: block;
}

.box-right .down-payment {
    display: flex;
    flex-flow: item-thamso wrap;
    margin-top: 25px;
}

.tablelai {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background: #fff;
}

.tablelai th {
    font-weight: 700;
}

.tablelai th, .tablelai td, .tablelai caption {
    padding: 4px 10px 4px 5px;
}

.tablelai thead th {
    background: #c3d9ff;
  text-align: center;
}

.tablelai table td {
    border: 1px solid #eee;
}
.tablelai tr:nth-child(odd){
background: #f7f7f7;
}

.tablelai>tbody>tr>td, .tablelai>tbody>tr>th, .tablelai>tfoot>tr>td, .tablelai>tfoot>tr>th, .tablelai>thead>tr>td, .tablelai>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;

}

.box-right .down-payment .btn-primary {
    max-width: 100%;
    border: 0;
    outline: 0;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

.btn-red {
    color: #fff;
    background: #c72528;
}

.btn-red:hover {
    color: #fff;
    background: rgba(199,37,40,.86);
}

.box-left .item-thamso .calc-wrapper .dropdown {
    width: calc(100% - 95px);
    float: left;
    position: relative;

}

.calc-wrapper .dropdown select{
    font-size: 14px;
    width: 100%;
    padding: 5px 10px;
    position: relative;
    top: 20px;
    border: 1px solid rgba(131,131,131,.3);
    border-radius: 2px;
}

.breakpoint.box-tinhlaivay{
    display: block;
}
.breakpoint.box-tinhlaivay .col-cot {
  width: 100%;
}
.breakpoint .col-cot .item-thamso .option-group{
display: block;
}

.box-left .item-thamso .option-group .label-title{
        position: relative;
    margin-left: 10px;
    text-align: left;
    top: 6px;
}

.title-popup{
text-align: center;
background: #cecece;
padding: 10px 10px;
margin-bottom: 10px;
border-radius: 6px 6px 0 0;
}
.inner-title-popup{
color: #000;
}

.pop-up-content-wrap .note{
text-align: center;
margin-bottom: 10px;
}

.inputbox {
    position: relative;
}
.inputbox input {
    width: 100%;
    height: 46px;
    padding: 10px 10px 0px;    
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
}

.inputbox label {
    position: absolute;
    top: 13px !important;
    left: 11px;
    font-size: 13px !important;
    font-weight: 300 !important;
    color: #7c7c7c;
    transition: all 0.3s;
}

.inputbox label.mini{
    font-size: 10px !important;
    top: 7px !important;
}

.cpsscroll {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 359px;
}

.cpsscroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.cpsscroll::-webkit-scrollbar-thumb {
    background-color: #e11b1e;
    border: 1px solid #e11b1e;
}

.cpsscroll::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}
/*popup here*/
.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}
.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
  max-width: 97%;
}
.custom-model-wrap {
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
    overflow-y: auto;
}
.model-open .custom-model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}
.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.close-btn {
  position: absolute;
  right: 0;
  top: -34px;
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #fff;
}

/*end popup*/
@media (max-width: 1024px){
    .box-tinhlaivay{
        display: block;
    }
    .box-tinhlaivay .col-cot {
      width: 100%;
    }


}

@media screen and (min-width:800px){
    .custom-model-main:before {
      content: "";
      display: inline-block;
      height: auto;
      vertical-align: middle;
      margin-right: -0px;
      height: 100%;
    }
}
@media screen and (max-width:799px){
  .custom-model-inner{margin-top: 45px;}
}


@media(max-width: 768px){
    .box-right h2, .box-right h3{
        text-align: center;
    }
    .box-right .chart-box .chart-description .chart-legend {
        
        text-align: center;
    }

    .box-tinhlaivay .col-cot {
        padding: 10px;
    }

    .box-left .item-thamso .calc-wrapper .range-vung{
        width: calc(100% - 80px);
    }

    .box-left .item-thamso .calc-wrapper .group-nhaplieu{
    width: 80px;
    }

    .box-left .item-thamso .calc-wrapper .group-nhaplieu .calc-input {
     
        width: 50px;
    }

    .box-right .chart-box .chart-description{
    width: 100%;
    padding: 0 0;
    }
    .hinhavatar1{
    width: 100%;
    clear: both;
    }
    .box-right .chart-box{
    display: block;

    }
    .hinhavatar1{
    margin-bottom: 20px;
    }

    .tablelai>tbody>tr>td, .tablelai>tbody>tr>th, .tablelai>tfoot>tr>td, .tablelai>tfoot>tr>th, .tablelai>thead>tr>td, .tablelai>thead>tr>th{
        padding: 2px;
    }
    .box-right .chart-box .chart-description .chart-legend .label-title{
        width: 150px;
    }
}
